<h1>Show Camp Location</h1>
<p>
  <strong>Id:</strong>
  <%= @camp_location.id %>
  <br>
  <strong>Name:</strong>
  <%= @camp_location.name %>
</p>

<%= link_to 'Edit', edit_camp_location_path(@camp_location) %> |
<%= link_to 'Back', camp_locations_path %>
