<div id="msform">
  <ul id="progressbar">
    <% @camp_application.steps.keys.each do |key| %>
      <li class= "<%= 'active' if @camp_application.steps[key].present? %> <%= 'current' if current_step == key %>" ><%= link_to key.humanize, camp_application_path(key.to_sym) %></li>
    <% end %>
  </ul>
</div>
