<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <%if current_user.present? && current_user.admin? %>
        <%= link_to 'List all Users', users_path, class: 'btn btn-primary btn-lg' %>
        <br>
        <%= link_to 'Invite User',new_user_invitation_path, class: 'btn btn-primary btn-lg' %>
      <%end %>
    </div>
  </div>
<% end %>