<%if @camp.present?%>
<p>Welcome and thank you for applying to be a participant at CONNECT . CONNECT is an international programme for
  students ages 14 to 17 from around the world which takes place in partnership.<p>

<p>The purpose of this application is for the CONNECT Placement Team to get to know you and learn about your interests,
  passions, and motivations for registering. Before registering, we encourage you to visit our website and learn more
  about our offerings and the registration process.</p>

<p>This registration form is for both CONNECT camps that will take place during:</p>
<ul>

  <li><strong><%= "#{@camp.name} : #{@camp.start_date} to #{@camp.end_date}"%></strong></li>
</ul>
If you have any questions during the application process, please feel free to email  at info@projectname.com.

<p>I AKNOWLEDGE AND AGREE THAT ANY INFORMATION PROVIDED IN THIS APPLICATION WILL BE COLLECTED AND PROCESSED IN
  ACCORDANCE WITH THE <a href="https://www.google.com">Privacy Policy</a>.</p>
  	<p>
 		<%= link_to 'start', camp_applications_path, method: :post, class: "btn btn-info active" %>
  	</p>
	<%end%>