<h2>Show User Profile</h2>

<div class="container">
  <div>
    <% if @user.avatar.attached? %>
      <%= image_tag(@user.avatar , class: "img-circle img-responsive", style: "height: 200px; width: 200px") %>
    <% end %>
  </div>
  
  <div class="field">
    <b>Name:</b>
    <%= @user.full_name %>
  </div>

  <div class="field">
    <b>Email:</b>
    <%= @user.email %>
  </div>

  <%= link_to 'Edit User', edit_admin_user_path(@user), class:'btn btn-primary' %>
</div>
